
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <th:object th:replace="base :: bt"></th:object>
</head>
<body>
    <div th:replace="base :: menu"></div>
    <div class = "container">
        <h1>Quanr lys sanr pham</h1>
        <form action="/products" method="post" th:object="${product}">
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Tên</label>
                <input type="text" class="form-control" id="email" placeholder="Nhập tên sản phẩm" th:field="*{name}" >
            </div>
            <div class="mb-3 mt-3">
                <label for="price" class="form-label">Giá</label>
                <input type="text" class="form-control" id="price" placeholder="Nhập giá" th:field="*{price}" >
            </div>
            <div class="mb-3 mt-3">
                <label for="category" class="form-label">Loại</label>
                <select class="form-select" id="category" th:field="*{categoryId}">
                    <option th:each="c : ${cate}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Tạo</button>
        </form>
    </div>

    <div th:replace="base :: footer"></div>
</body>
</html>